*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topRow{
    display: flex;
    background-color: lightseagreen;    
    height: 5%;
}

.topText{
    font-size: 24px;
    font-weight: bold;
    padding-top: 6px;
    padding-left: 10px;
}

.secondLayer{
    background-color: #5995DA;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 7%;
}

.thirdLayer{
    justify-content: center;
    display: flex;
    background-color:aquamarine;
    background-color: #D6E9FE;
}

.carousel{
    overflow: hidden;
    max-width: 600px;
    position: relative;
}

.carousel .carousel_item,
.carousel .carousel_item--hidden{
    display: none;
}

.carousel .carousel_item img{
    max-width: 600px;
    width: 100%;
    height: auto;
}

.carousel .carousel_item--visible{
    display: block;
}

.carousel .carousel_actions{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel_actions button{
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.carousel .carousel_actions button#carousel_button--previous{
    margin-left: 20px;
}

.carousel .carousel_actions button#carousel_button--next{
    margin-right: 20px;
}

.fifthLayer{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 2;
}



.footerTwo{
    flex: initial;
    width: 300px;
    flex:3;

}

.footerOne,
.footerThree{
    flex: 1;
    background-color: #5995DA;
  flex:auto;
  width: 300px;
}