*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0; flex-wrap: wrap; 
    flex-direction: column; 
    display: flex;
}
.topRow{
    display: flex;
    background-color: lightseagreen;    
    height: 5%;
    margin-bottom: 0%;
}

.thirdDiv{
    display: flex; 
    justify-content: center; 
    padding-top: 10px;
}

.topText{
    font-size: 24px;
    font-weight: bold;
    padding-top: 6px;
    padding-left: 10px;
}

.secondLayer{
    background-color: #5995DA;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 7%;
}

.thirdLayer{
    justify-content: center;
    display: flex;
    background-color:aquamarine;
    background-color: #D6E9FE;
}

.carousel{
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.carousel .carousel_item,
.carousel .carousel_item--hidden{
    display: none;
}

.carousel .carousel_item img{
    max-width: 600px;
    width: 100%;
    height: auto;
}

.carousel .carousel_item--visible{
    display: block;
}

.carousel .carousel_actions{
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel_actions button{
    border-radius: 5px;
    border: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 60px;
    height: 25px;
}

.carousel .carousel_actions button:active, carousel .carousel_actions button:focus{
    border: 0.2em solid rgb(1, 153, 52);
}

.carousel .carousel_actions button#carousel_button--previous{
    margin-left: 20px;
    background-color: orange;
}

.carousel .carousel_actions button#carousel_button--next{
    margin-right: 20px;
    background-color:rgb(206, 206, 206);
}

.fifthLayer{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 2;
}



.footerTwo{
    flex: initial;
    width: 300px;
    flex:3;

}

.footerOne,
.footerThree{
    flex: 1;
    background-color: #5995DA;
  flex:auto;
  width: 300px;
}

.fourthLayer{
    justify-content: space-between;
    display: flex; 
    align-content: stretch;
}

.twoLinks{
    display: flex; 
    justify-content: space-between;
}

.awesome{
    width: 900px;
        height: 300px;
        display: flex;
        justify-content: space-between; 
        flex-direction: column;
}

.awesomeLogo{
    padding-top: 10%;
}

.mainPage{
    display: flex; 
    justify-content: space-between;          
    align-items: baseline; 
    border-style: solid;
    border-color: white; 
    width: 300px; 
    height: 34px; 
}
.fourthDiv{
    border-color: white; 
    border-style: solid; 
    display: flex; 
    justify-content: space-between; 
    width: 750px; 
    height: 40px; 
}

.links{
    color: white;
}

.date{
    color: white;
}

.lastDiv{
    justify-content: space-between;
    display: flex; 
    align-content: stretch;
}