*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topRow{
    display: flex;
    background-color: lightseagreen;    
}

.topText{
    font-size: 18px;
    font-weight: bold;
}

.secondLayer{
    background-color: #5995DA;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.thirdLayer{
    justify-content: center;
    display: flex;
    background-color:aquamarine;
    background-color: #D6E9FE;
}

.fourthLayer{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
}
.fifthLayer{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}



.footerTwo{
    flex: initial;
    width: 300px;

}

.footerOne,
.footerThree{
    background-color: #5995DA;
  flex: initial;
  width: 300px;
}