.topRow{
    background-color: lightseagreen;
    height: 5%;
    flex-basis: auto;
}

.topText{
    font-size: 18px;
    font-weight: bold;
}

.secondLayer{
    background-color: rgba(2, 98, 177, 0.521);
    height: 10%;
    display: flex;
    justify-content: center;
    flex-basis: auto;
}

.thirdLayer{
    justify-content: center;
    display: flex;
    background-color:aquamarine;
    flex-wrap: nowrap;
}

.fourthLayer{
    justify-content: center;
    display: flex;
}
.fifthLayer{
    justify-content: center;
    display: flex;
    flex-wrap: wrap-reverse;
}

.footerOne{
    background-color: rgba(2, 98, 177, 0.521);
}

.footerTwo{
    background-color:aquamarine;
}

.footerThree{
    background-color: rgba(2, 98, 177, 0.521);
}