*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topRow{
    display: flex;
    background-color: lightseagreen;    
    height: 5%;
}

.topText{
    font-size: 24px;
    font-weight: bold;
    padding-top: 6px;
    padding-left: 10px;
}

.secondLayer{
    background-color: #5995DA;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 7%;
}

.thirdLayer{
    justify-content: center;
    display: flex;
    background-color:aquamarine;
    background-color: #D6E9FE;
}

.fourthLayer{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
}
.fifthLayer{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 2;
}



.footerTwo{
    flex: initial;
    width: 300px;
    flex:3;

}

.footerOne,
.footerThree{
    flex: 1;
    background-color: #5995DA;
  flex:auto;
  width: 300px;
}